{% extends 'base.html.twig' %}

{% block title %}Meeting index{% endblock %}

{% block body %}

<div class =container>
    <h1 class= "text-center pt-4 mb-5">Liste des réunions</h1>
    <div class="d-flex justify-content-end">
        <a button type="button" class="btn btn-primary  mb-5" style="color: #154863"  href="{{ path('app_meeting_new') }}">Créez une nouvelle réunion</button></a>
    </div>
     

    <table class="table table-striped">
        <thead>
            <tr>
                
                <th scope="col" style="color: #154863">Titre</th>
                <th scope="col"style="color: #154863">Ordre du jour</th>
                <th scope="col"style="color: #154863">Date</th>
                <th scope="col"style="color: #154863">Heure</th>
                <th scope="col"style="color: #154863">Modification</th>
            </tr>
        </thead>
        <tbody>
        {% for meeting in meetings %}
            <tr>
                
                    <td>{{ meeting.title }}</td>
                    <td>{{ meeting.agenda }}</td>
                    <td>{{ meeting.date ? meeting.date|date('Y-m-d') : '' }}</td>
                    <td>{{ meeting.time ? meeting.time|date('H:i:s') : '' }}</td>
                <td>
                    <a style="color: #154863"href="{{ path('app_meeting_show', {'id': meeting.id}) }}"><i class=" px-3 fa fa-eye" aria-hidden="true"></i></a>
                    <a style="color: #154863" href="{{ path('app_meeting_edit', {'id': meeting.id}) }}"><i class=" px-2  fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

   
{% endblock %}
